.clickable {
  cursor: pointer;
}

/* th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
} */
